table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child {
  position: relative;
  cursor: pointer; }
  table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child:before {
    text-align: center;
    font-size: 17px;
    content: "\f13a";
    color: #2F353B; }
  table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child.dataTables_empty:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > .responsive-expand:first-child.dataTables_empty:before {
    display: none; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > .responsive-expand:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > .responsive-expand:first-child:before {
  content: "\f139";
  color: #BFCAD1; }

table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: none; }

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > .responsive-expand:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > .responsive-expand:first-child {
  padding-left: 27px; }
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > .responsive-expand:first-child:before,
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > .responsive-expand:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    line-height: 12px; }

table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer; }
  table.dataTable.dtr-column > tbody > tr > td.control:before,
  table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center;
    font-size: 17px;
    content: "\f13a";
    color: #2F353B; }

table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: "\f139";
  color: #BFCAD1; }

table.dataTable > tbody > tr.child {
  padding: 0.5em 1em; }
  table.dataTable > tbody > tr.child:hover {
    background: transparent !important; }
  table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    table.dataTable > tbody > tr.child ul li {
      border-bottom: 1px solid #efefef;
      padding: 0.5em 0; }
      table.dataTable > tbody > tr.child ul li:first-child {
        padding-top: 0; }
      table.dataTable > tbody > tr.child ul li:last-child {
        border-bottom: none; }
  table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold; }

